@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');
@import './components';
@import './theme.scss';

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Mulish', sans-serif;
  background-color: var(--background);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
}

button {
  cursor: pointer;
  border: none;
  &:disabled {
    cursor: not-allowed;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

